<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find victor_description)/urdf/robotiq_finger.xacro"/>
    <xacro:include filename="$(find victor_description)/urdf/robotiq_3finger_gripper.transmission.xacro"/>

    <xacro:macro name="robotiq_3finger" params="parent prefix hardware_interface *origin">
        <xacro:property name="joint_damping" value="0.05"/>

        <joint name="${prefix}_palm_joint" type="fixed">
            <xacro:insert_block name="origin"/>
            <parent link="${parent}"/>
            <child link="${prefix}_palm"/>
        </joint>
        <link name="${prefix}_palm">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <mass value="1"/>
                <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://victor_description/meshes/robotiq_3finger/palm_visual.stl"/>
                </geometry>
                <material name="DarkGray"/>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://victor_description/meshes/robotiq_3finger/palm_collision.stl"/>
                </geometry>
                <material name="DarkGray"/>
            </collision>

        </link>

    </xacro:macro>

</robot>
